:root {
    background-color: #383838;
}

p, h1, h2, h3 {
    color: #ffffff
}

body {
    background-color: #383838;
}

.jumbotron-fluid {
    background-color: #00FFFF;
    width: 250px;
}

.logo {
    width: 50px;
    height: 50px;
}

.intro {
    padding-left: 50px;
    padding-right: 50px;
}

.cover {
    padding-left: 100px;
    width: 25%;
    height: 25%;
}

ul li {
    list-style-type: none;
}