ul li {
    list-style-type: none;
}

a {
    background-color: #0179F2;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    border-width: 2,5px;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    float: center
}

a:hover {
    animation-name: changingColor;
    animation-duration: 1.2s;
    color: white;
}

@keyframes changingColor {
    0% {
        background-color: #0179F2;
    }
    
    100% {
        background-color: #014CAF;
    }
}