:root {
    background-color: #383838;
}

p, h1, h2, h3 {
    color: #ffffff
}

h1 {
    font-family: 'Akronim';
}

p {
    font-family: 'Satisfy';
}

a {
    font-family: 'Big Shoulders Stencil Text'
}

body {
    background-color: #383838;
}

.jumbotron-fluid {
    background-color: #0179F2;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    border-width: 3px;
}

.text-center {
    display: inline;
}

.logo {
    width: 50px;
    height: 50px;
    display:inline;
}

.container {
    text-align: center;
}

.intro {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.cover {
    padding-left: 100px;
    width: 25%;
    height: 25%;
    float: left;

}

.resum {
    padding-top: 125px;
    padding-right: 50px;
    text-align: center;
}
